



body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #380559;
}

path{
  fill: #1d783d;
  stroke: #379157;
  stroke-width: 0.3;
  transform: scale(0);
  transform-origin: 50% 50% ;
  animation: star 8s ease-in-out infinite;
  animation-delay:  calc(var(--no)*0.025s);
}
svg {
  max-height: 60vh;
  overflow: visible;
}

@keyframes star {
  0% {
    transform: scale(0);
    animation-timing-function: cubic-bezier(0.74, 1.72, 0.57, 1.01);
  }
  10% {
    transform: scale(1);
  }
  65% {
    transform: translateY(0px) scale(1);
  }
  75% {
    transform: translateY(50px) scale(0);
  }
  100% {
    transform: translateY(0px) scale(0);
  }
}
